*{
    padding: auto;
}
.contain{
    width: 400px;
    margin: auto;
    margin-top: 40px;
}

#registerButton{
    margin-left: 30px;
    color: rgb(227, 236, 99);
}

.mainToDo{
    display: flex;
  flex-direction: column;
}

.mainInput{
    width: 400px;
    height: 300px;
    margin: 30px;
    padding: 20px;
    display: block; 
    box-sizing: content-box;
}

#searchInput{
    margin:30px;
    width: 100px;
    height: 50px;
    border: 1px solid;
    display: inline-block;
    box-sizing: border-box;
    display: block;
}

.site-card-border-less-wrapper{
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 0px;
}

#description{
    margin-top: 10px;
    text-align: start;
    min-height: 50px;
}


#submitButton{
margin-top: 20px;
}

.mainToDo{
    width: 1000px;
    width: fit-content;
}

#delete{
    background-color: rgba(255, 0, 0, 0.824);
}
#delete:hover{
    color: black;
    background-color: rgb(255, 0, 0);
}

#editingButton{
    background-color: rgb(0, 94, 255);
    color: rgb(0, 0, 0);
}

#editingButton:hover{
    background-color: rgba(0, 94, 255, 0.68);
    color: rgb(0, 0, 0);
}

#editingSubmitButton{
    background-color: rgb(0, 154, 49);
    color: rgb(0, 0, 0);
}

.todo{
    float: left;
    width: 250px; 
    margin: 20px;
}
.searchDiv{
    margin:auto;
    margin-top: 30px;
}
.todoShow{
    display: flex;
    flex-direction: row;
}

